.sidenav {
  overflow: hidden;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%; /* margin-left: 6%;

  margin-right: 10%; */
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}

/* Side navigation links */
.sidenav a {
  float: left;
  display: block;
  color: #f2f2f2;
  font-size: 300%;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}
